.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: Black;
  padding: 10px 30px;
  list-style: none;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.topBar.visible {
  transform: translateY(0);
  opacity: 1;
}

.topBar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.topBar .add-item {
  margin-right: auto;
}

.topBar .hamburger {
  display: none;
  cursor: pointer;
}

.topBar .menu {
  display: flex;
}

.topBar .menu li {
  margin-left: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

.topBar .menu li:hover {
  text-decoration: none;
}

.topBar .menu li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: white;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.topBar .menu li:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .topBar {
    height: 80px;
    padding: 10px 20px;
  }

  .topBar .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #8c2730;
    width: 100%;
    z-index: 9;
  }

  .topBar .menu.open {
    display: flex;
  }

  .topBar .menu li {
    margin: 10px 0;
    font-size: 18px;
    margin-left: 0;
  }

  .topBar .hamburger {
    display: flex;
    margin-left: auto;
  }

  .topBar .add-item svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .topBar {
    height: 60px;
    padding: 10px 15px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .topBar .menu li {
    font-size: 16px;
    margin: 5px 10px;
    padding-bottom: 5px;
  }

  .topBar .menu li::after {
    height: 2px;
  }
}
